snippet fn "function"
function()
	${VISUAL}$0
end
endsnippet

snippet if "if"
if ${1} then
	${VISUAL}$0
end
endsnippet

snippet for "for"
for ${1} do
	${VISUAL}$0
end
endsnippet

snippet while "while"
while ${1} do
	${VISUAL}$0
end
endsnippet

snippet noti; "notify-send" wA
os.execute("notify-send " .. ${1:message})
endsnippet
